<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav th:fragment="sider" class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" 
               th:href="@{/}" 
               th:classappend="${title} == '团队介绍' ? 'active' : ''">团队介绍</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
               th:href="@{/record}" 
               th:classappend="${title} == '车辆记录' ? 'active' : ''">车辆记录</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/fliter}"
               th:classappend="${title} == '非法数据' ? 'active' : ''">非法数据</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" 
               th:href="@{/track}" 
               th:classappend="${title} == '轨迹重现' ? 'active' : ''">轨迹重现</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/count}"
               th:classappend="${title} == '地点过车次数' ? 'active' : ''">地点过车次数</a>
        </li>
        <li class="nav-item">
            <a class="nav-link"
               th:href="@{/meet}"
               th:classappend="${title} == '车辆相遇次数' ? 'active' : ''">车辆相遇次数</a>
        </li>

<!--        <li class="nav-item">-->
<!--            <a class="nav-link" -->
<!--               th:href="@{/alarm}" -->
<!--               th:classappend="${title} == '实时报警' ? 'active' : ''">实时报警</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link"-->
<!--               th:href="@{/bmap}"-->
<!--               th:classappend="${title} == '百度地图示例' ? 'active' : ''">百度地图示例</a>-->
<!--        </li>-->
    </ul>
</nav>
</body>
</html>